ion-grid{
  width: 100vw;
  height: 100vh;
  padding-bottom: 0rem;

  ion-row{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    padding-bottom: 0rem;

    .foto-yo{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      .content-reds{
        padding-top: 0.2rem;
        display: flex;
        width: 100%;
        height:auto;
        align-items: center;
        justify-content: center;

        .social-reds-git{
          cursor: pointer;
          width: auto;
          height: 80px;
          filter: invert(95%);
        }
        .social-reds-link{
          width: 55px;
          height: 63px;
          filter: invert(100%);
          cursor: pointer;
        }
        .social-reds-git:active,
        .social-reds-link:active{
          filter: invert(70%);
        }
      }

      img{
        width: 47%;
        height: 44%;
        border-radius: 50%;
      }
    }
    .nav-text{
      .text-tech{
        height: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .content-info{
          width: 50%;
          height: 50%;
          background-color: #e0dbdb17;
          border-radius: 1rem;
          backdrop-filter: blur(50px);
          border: 1px solid rgb(107, 106, 106);

          ion-text{
            height: 70%;
            display: flex;
            align-items: start;
            justify-content: space-evenly;
            flex-direction: column;
            h1{
              margin-bottom: 0.5rem;
            }
            ion-label{
              font-size: 1.2rem;
            }
          }
          .tech{
            padding: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
          }
        }
      }


    }
  }
}
