<ion-grid>
  <ion-row>

    <ion-col class="foto-yo">
      <img src="../../../../assets/img.jpeg.svg">

      <ion-row class="content-reds">
        <img class="social-reds-git" src="../../../../assets/Img/icons8-github.svg">
        <img class="social-reds-link" src="../../../../assets/Img/icons8-linkedin.svg">
      </ion-row>
    </ion-col>

    <ion-col class="nav-text">

      <ion-row class="text-tech">
        <ion-col class="content-info">
          <ion-row>
            <ion-text>
              <h1>Yeiosn Camilo Ruiz Castro</h1>
              <ion-label>
                Tengo 18 años, soy de Colombia y llevo un año y medio trabajando en el desarrollo frontend.
                Comencé aprendiendo lo básico con HTML, CSS y JavaScript. Luego me adentré en Angular y llevo
                6 meses trabajando con él, además de interesarme en el desarrollo móvil con Ionic desde la
                perspectiva frontend.
              </ion-label>
            </ion-text>

            <ion-row class="tech">
              <ng-container *ngFor="let img of imgTech">
                <ion-col size="1.6">
                  <img [src]="img.path" class="move">
                </ion-col>
              </ng-container>
            </ion-row>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-grid>
